
 <!-- <div 
  fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="flex-center" >
  <ng-container *ngFor="let _ of [1,2,3,4, 5]">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </ng-container>
</div> -->
<!-- <div class="carousel">
	
    <ng-container *ngFor="let _ of [1,2,3]">
        <mat-card class="carousel-item example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </ng-container>
    
</div> -->
<!-- <mat-card style="min-width: 95vw;">
    <div class="carousel">
        <a class="carousel-item" href="" *ngFor="let item of items;let i = index">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
                <div class="col s12 m5">
                  <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                  </div>
                </div>
        </a>
    </div>
</mat-card> -->

<ng-container *ngFor="let _ of [1,2,3,4]">
    <mat-card class="mat-elevation-z8 card-container-custom">
        Differnt Stories
        <app-carousel></app-carousel>
    </mat-card>
    
</ng-container>
<!-- 
<app-carousel></app-carousel>
<app-carousel></app-carousel>
<app-carousel></app-carousel>
<app-carousel></app-carousel> -->



