//   @import "../../../../../node_modules/materialize-css/dist/css/materialize.min.css";
// .example-card {
//     max-width: 200px;
//     margin-bottom: 2%;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
//   .carousel {
//       overflow: inherit !important;
      
//   }
//   .carousel-item {
//       margin-top: -5%;
//   }

// p, h1 {
//     font-family: Lato;
//   }
//   body
//   {
//   font-size:8pt;
//   }  
// .create-story-button {
//     background-image: -webkit-linear-gradient(352deg, #de34cbbf 0%, #1472a9f2);
// }

  
.card-container-custom {
    margin: 5px 0px 20px 0px;
    // background-image: -webkit-linear-gradient(278deg, #de34cbbf 0%, #1472a9f2);
    // background-color: rgb(0 0 0 / 54%);
    background-color: rgb(0 0 0 / 28%);
    color: white;
}
 
