@import "../../../../../node_modules/materialize-css/dist/css/materialize.min.css";

.create-story-button {
    background-image: -webkit-linear-gradient(352deg, #de34cbbf 0%, #1472a9f2);
    background-color: deeppink;
}