<div class="fixed-action-btn">
    <a class="btn-floating btn-large z-depth-5 create-story-button">
      <i class="large material-icons" matTooltip="Create" matTooltipPosition='left'>mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating blue" matTooltip="Attach File" matTooltipPosition='left'><i class="material-icons">attach_file</i></a></li>
      <li><a class="btn-floating red" matTooltip="Create Blog" matTooltipPosition='left'><i class="material-icons">rss_feed</i></a></li>
      <li><a class="btn-floating yellow darken-1" matTooltip="Create Poem" matTooltipPosition='left'><i class="material-icons">auto_stories</i></a></li>
      <li><a class="btn-floating green" matTooltip="Create Stories" matTooltipPosition='left'><i class="material-icons">style</i></a></li>
    </ul>
</div>
