/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/helper";

// html, body { height: 100%; }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(201, 201, 201);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
html {
    --scrollbarBG: #fefefe;
    --thumbBG: #6679d6;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
