
<!-- <mat-card class="mat-elevation-z8 " style="margin: 10px 0;
padding: 0;"> -->
    <mat-card class="mat-elevation-z8 swiper-container">
        <swiper
        [slidesPerView]="6"
        [spaceBetween]="10"
        [slidesPerGroup]="6"
        [loop]="true"
        [loopFillGroupWithBlank]="true"
        
        [navigation]="true"
        class="mySwiper"
        >
        <!-- [pagination]="{
          clickable: true
        }"-->
        
        <ng-container *ngFor="let _ of [1,2,3,4,5,6,7,8,9,10]">
            <ng-template swiperSlide>
                <mat-card class="example-card mat-elevation-z0">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                    </mat-card-content> -->
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </ng-template>
        </ng-container>
        </swiper>
    </mat-card>
<!-- </mat-card> -->

