 
 
@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper-container {
  // margin-bottom: 5px;
  margin: 10px 0 5px 0;
  padding: 0;
  background-color: inherit;
  
  .swiper {
    width: 100%;
    height: 100%;
  //   min-height: 150px;
  }
  
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 150px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 3px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mat-card {
    width: 100%;
    
  }
}


  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  