<!-- <div>
    <mat-card>
        <mat-card-title>Register</mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
    
    
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    
    </form>
    </mat-card-content>
    </mat-card>
</div> -->

<div class="form-v6">
  <div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="../../../../assets/img/sign-in.jpg" alt="form">
			</div>
			<form class="form-detail" action="#" method="post">
				<h2>Create your own Account</h2>
				<div class="form-row">
					<mat-form-field appearance="legacy">
            <mat-label>Your Name</mat-label>
            <input matInput>
            <mat-icon matSuffix style="color: black;">person_outline</mat-icon>
          </mat-form-field>
				</div>
				<div class="form-row">
					<!-- <input type="text" name="your-email" id="your-email" class="input-text" placeholder="Email Address" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"> -->
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput>
            <mat-icon matSuffix style="color: black;">mail</mat-icon>
          </mat-form-field>
				</div>
				<div class="form-row">
					<mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput placeholder='*********'>
            <mat-icon matSuffix style="color: black;">lock</mat-icon>
          </mat-form-field>
				</div>
				<div class="form-row">
					<mat-form-field appearance="legacy">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder='*********'>
            <mat-icon matSuffix style="color: black;">lock</mat-icon>
          </mat-form-field>
				</div>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" (click)="navigateToLogin()" value="Sign in">
					<input type="button" name="login" style="margin-left: 10px;" class="register" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>

