  // @import "../../../../node_modules/materialize-css/dist/css/materialize.min.css";
  
  .main.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    
  }
  .navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .navbar-color {
    background-image: -webkit-linear-gradient(61deg, #7d006fbf 0%, #1472a9f2 100%) !important;
    color: white;
  }
  
  
  .main.footer {
    position: fixed;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 100%;
  }
  .example-container {
    /* width: 1000px; */
    height: 100%;
    /* border: 1px solid #555; */
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  mat-drawer {
      width: 15vw !important;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .active {
    border-bottom: 3px solid #ffff;
    border-radius: 0;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 16px 0 0 !important;
  }

  .avatar {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    .avatar-container {
      width: 40px;
      height: 40px;
      .avatar-content {
        max-width: 100%;
        border-radius: 50%;
      }
    }
  }
  
  