<!-- <mat-toolbar color="primary" class="main header mat-elevation-z8"> -->
  <div class="navbar-container">
    
    <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="row" fxLayoutAlign="start stretch">
      <button fxShow="false" fxShow.gt-sm mat-button (click)="toggleDrawer()"  aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
        <span fxHide fxShow.xs>FX: XS</span>
        <span fxHide fxShow.sm>FX: SM</span>
        <span fxHide fxShow.md>FX: MD</span>
        <span fxHide fxShow.lg>FX: LG</span>
        <span fxHide fxShow.xl>FX: XL</span>
      </div>
      
      <span fxFlex="1 1 33%"></span>

      <div fxLayout="row" fxShow="false" fxShow.gt-xs>
        <!-- <button [ngClass]="{'active': routedState === '/user/stories'}" mat-button (click)="toggleRoute('/user')">
          <mat-icon>home</mat-icon>
        </button> -->
        <button [ngClass]="{'active': routedState === '/user/stories'}" mat-button (click)="toggleRoute('user/stories')">
            <mat-icon>style</mat-icon>
        </button>
        
        <button mat-button [ngClass]="{'active': routedState === '/user/profile'}" (click)="toggleRoute('user/profile')">
          <mat-icon>auto_stories</mat-icon>
        </button>
        <button mat-button (click)="toggleRoute('user/profile')">
          <mat-icon>rss_feed</mat-icon>
        </button>
      </div>

      <span fxFlex="1 1 0%"></span>
      
      <div fxLayout="row" fxLayoutAlign="end center">
        
        <app-global-search fxShow fxHide.sm fxHide.xs class="m-per-right-5"></app-global-search>
        
        <app-header-action></app-header-action>

      </div>
    </mat-toolbar>
    <app-loader></app-loader>
  </div>


