.drawer {
    position: fixed;
    margin-top: 64px; /* height of header */
    // border-right: 1px solid #ccc;
}

.main.contents {
    min-height: 100vh;
    margin-top: 64px; /* height of header */
    padding: 16px;
  }
  .example-container {
    /* width: 1000px; */
    height: 100%;
    /* border: 1px solid #555; */
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  mat-drawer {
      width: 15vw !important;
  }