
<!-- <app-header (toggle)="drawer.toggle()"></app-header> -->
<!-- <div >
    <app-header></app-header>
</div> -->
<!-- <router-outlet></router-outlet> -->
<!-- <div *ngIf="urlNavigartion === '/login' || urlNavigartion === '/register'" class="welcome-container"> -->
    <router-outlet></router-outlet>
<!-- </div> -->
<!-- <div>
    <app-header (toggle)="drawer.toggle()"></app-header>

    <mat-drawer-container class="example-container" [hasBackdrop]="sideNavSettings.hasBackDrop">
        
        <mat-drawer #drawer mode="side" class="drawer">
            Menu
        </mat-drawer>
        <mat-drawer-content class="main contents">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div> -->

