//   // @import "../../../../node_modules/materialize-css/dist/css/materialize.min.css";
@import "../header/header.component.scss";

::ng-deep .mat-badge-accent .mat-badge-content {
    background: #d84ad4d1;
    color: #fafafa;
}
::ng-deep  .mat-badge-small.mat-badge-above .mat-badge-content {
    top: 0 !important;
    right: 0 !important;
}
.avatar-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    .avatar-menu-container {
    //   width: 40px;
    //   height: 40px;
      .avatar-menu-content {
        max-width: 50%;
        border-radius: 50%;
      }
    }
}
.avatar-postion {
    position: relative;
    right: 7px;
}
.menu-icon {
    color: #1472a9f2;
}
::ng-deep div.mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    display: block;
    /** set line height to desired height */
    line-height: 40px;
    /** set height to auto */
    height: auto;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}
.starter-menu-notification {
    text-align: center;
    font-weight: 600;
    color: rgb(32, 29, 29);
    cursor: auto;
}
// .custom-notification-menu {
//     line-height: 30px;
//     height: 30px;
// }