<div class="header-action-container">
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with admin icon">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <button  mat-icon-button class="example-icon" 
      [matMenuTriggerFor]="notificationmenu"
      matBadge="8" matBadgePosition="after" matBadgeColor="accent" matBadgeSize="small"
      aria-label="Example icon-button with notification icon">
      <mat-icon>notifications</mat-icon>
    </button>
    
    <div class="avatar">
      <div class="avatar-container">
        <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <img class="avatar-content" src="https://avatars.githubusercontent.com/u/111951?v=4&s=70"/>
        </button>
      </div>
    </div>
    
    <button mat-icon-button  class="example-icon" mat-icon-button [matMenuTriggerFor]="mainmenu"
    #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
</div>

<mat-menu #mainmenu="matMenu" [overlapTrigger]="false" mat-elevation-z8>
  <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item>
      <mat-icon class="menu-icon">home</mat-icon>
      <span>Home</span>
</button>
<button mat-menu-item>
      <mat-icon class="menu-icon">settings</mat-icon>
      <span>Settings</span>
    </button>
<button mat-menu-item>
      <div class="avatar-menu avatar-postion">
        <div class="avatar-menu-container">
          <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <img class="avatar-menu-content" src="https://avatars.githubusercontent.com/u/111951?v=4&s=70"/>
          </button>
        </div>
      </div>
      <span>Profile</span>
    </button>
<button mat-menu-item>
      <mat-icon class="menu-icon">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
</span>
</mat-menu>

<mat-menu #notificationmenu="matMenu" class='notification-menu' yPosition="below" [overlapTrigger]="false" mat-elevation-z8>
  <span>
    <div mat-menu-item class="custom-notification-menu starter-menu-notification" (click)="$event.stopPropagation()" >8 New notifications</div>
    
    <div mat-menu-item class="custom-notification-menu">adjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skd</div>
    <div mat-menu-item class="custom-notification-menu">adjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skdadjaskdja;skd</div>
    <mat-divider></mat-divider>
    <div mat-menu-item class="custom-notification-menu starter-menu-notification">See more...</div>

</span>
</mat-menu>
