@mixin offset-margin($margin, $value){
    margin-#{$margin}: $value;
  }
  
  @for $i from 1 through 100 {
    @each $margin in top, left, bottom, right {
  
      .m-px-#{$margin}-#{$i}{
        @include offset-margin($margin, 1px * $i) 
      }
  
    }
  }
  
  @for $i from 1 through 100 {
    @each $margin in top, left, bottom, right {
  
      .m-per-#{$margin}-#{$i}{
        @include offset-margin($margin, 1% * $i) 
      }
  
    }
  }
  
  @mixin offset-padding($padding, $value){
    padding-#{$padding}: $value;
  }
  
  @for $i from 1 through 100 {
          @each $pad in top, left, bottom, right {
            
      
          .p-#{$pad}-#{$i}{
            @include offset-padding($pad, 1px * $i) 
          }
      
        }
  }
  @for $i from 1 through 100 {
          @each $pad in top, left, bottom, right {
            
      
          .p-per-#{$pad}-#{$i}{
            @include offset-padding($pad, 1% * $i) 
          }
      
        }
  }