<div fxLayout="column">
    <app-header (toggle)="drawer.toggle()"></app-header>

    <mat-drawer-container class="example-container" [hasBackdrop]="sideNavSettings.hasBackDrop">
        
        <mat-drawer #drawer mode="side" class="drawer">
            <mat-nav-list class="nav-list">
                <a mat-list-item class="nav-items" [routerLink]="['stories']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <mat-icon>style</mat-icon>
                    <span matLine>Stories</span>
                </a>
                <a mat-list-item class="nav-items">
                    <mat-icon>auto_stories</mat-icon>
                    <span matLine>Poems</span>
                </a>
                <a mat-list-item class="nav-items">
                    <mat-icon>rss_feed</mat-icon>
                    <span matLine>Blogs</span>
                </a>
                <a mat-list-item class="nav-items" [routerLink]="['profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <mat-icon>person</mat-icon>
                    <span matLine>Profile</span>
                </a>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Admin
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item class="nav-items-acc" [routerLink]="['profile']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                            true}">
                            <mat-icon>people</mat-icon>
                            <span matLine>User Management</span>
                        </a>
                    </mat-nav-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content class="main contents">
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

<app-floating-create-button></app-floating-create-button>
