// @import "../../../../node_modules/materialize-css/dist/css/materialize.min.css";
.drawer {
    position: fixed;
    margin-top: 64px; /* height of header */
    // border-right: 1px solid #ccc;
}
.drawersm {
  position: fixed;
  margin-top: 55px; /* height of header */
  width: 10vw !important;

  .mat-expansion-panel-header {
    padding: 0 16px 0 16px !important;
  }
}

.main.contents {
    // min-height: 100vh;
    padding: 16px;
    margin-top: 64px;
    // align-items: center;
  }
  .example-container {
    /* width: 1000px; */
    height: 100%;
    /* border: 1px solid #555; */
  }
  
  mat-drawer-content {
    padding: 12px;
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #c9c9c9;
  }
  mat-drawer {
      width: 15vw !important;
  }
  .active {
    background-image: -webkit-linear-gradient(274deg, #7d006fbf 0%, #1472a9f2 100%) !important;
    color: white;
  }
  .nav-items {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
    margin-bottom: 2px;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }
  .nav-list {
    padding-top: 0 !important;
  }


.no-border {border-radius: 0px;}
  
.txt-bold {font-weight: bold;}

.selected {background-color: gainsboro;}

.mat-expansion-panel-header {
  padding: 0 24px 0 16px !important;
}
